@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bungee&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=TASA+Explorer:wght@400..800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Spectral", serif;

}

button {
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 6%;
    gap: 0;
}

header img {
    height: 50px;
}

header>div:first-child p {
    font-weight: 700;
    font-size: 20px;
}

header>div:first-child span {
    font-weight: 400;
    font-size: 7px;
    display: block;
    color: #7A4A27;
}

header div button:last-of-type {
    background-color: #6a4e39;
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
}

header p {
    color: #6a4e39;
    font-family: 'EB Garamond', serif;
    font-weight: bolder;
    font-size: 15px;

}

header p span {
    color: rgb(139, 104, 8);
    font-weight: 100;
}

header nav {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

header a {
    text-decoration: none;
    color: #000000;
    font-size: 10px;
}

.quote-btn {
    background-color: #6a4e39;
    padding: 5px;
    border: 1px solid #7A4A27;
    color: #fff;
    border-radius: 5px;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6%;
    height: 70px;
    position: sticky;
    top: 0;
    background: white;
    z-index: 999;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.menu-toggle span {
    width: 25px;
    height: 3px;
    background: black;
    border-radius: 3px;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

button:hover {
    transform: translateY(-2px);
    transition: 0.3s;
}

a:hover {
    color: var(--brown);
    transition: 0.3s;
}

.services-img-div img:hover,
.project-gallery-preview img:hover {
    transform: scale(1.05);
    transition: 0.4s ease;
}

.reveal {
    opacity: 0;
    transform: translateY(30px);
    transition: 0.8s ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

.nav-dropdown {
    position: relative;
}

.arrow {
    font-size: 10px;
    margin-left: 5px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: #ffffff;
    min-width: 170px;
    display: none;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    animation: slideDown 0.3s ease;
    z-index: 9999;
}

.dropdown-menu a {
    padding: 10px 14px;
    font-size: 11px;
    color: #000;
    transition: 0.3s;
}

.dropdown-menu a:hover {
    background: #6a4e39;
    color: white;
}

.nav-dropdown:hover .dropdown-menu {
    display: flex;
}

.hero-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

}

.hero {
    height: 60vh;
    width: 75%;
    border-radius: 15px;
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)),
        url("hero-img.png") center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero p {
    margin-bottom: 1.5rem;
    color: #ffffff56;
}

.btn {
    background: #7b5e3b;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
    display: inline-block;
    transition: 0.3s;
}

.btn:hover {
    background: #5f472b;
}

.services {
    width: 90%;
    max-width: 1200px;
    margin: 70px auto;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.service {
    display: flex;
    align-items: center;
    gap: 40px;
}

.taged-sure {
    margin-top: 10px;
    color: #5f472b;
}

.taged-sure svg {
    color: #5f472b;
}

.service img {
    width: 50%;
    border-radius: 12px;
    object-fit: cover;
}

.services span {
    color: #6a4e39;
}

.services h1 {
    color: #000000;
    font-size: 2.3rem;
    margin-top: -50px;
}

.text {
    width: 50%;
}

.text h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #5a4631;
}

.text a {
    display: inline-block;
    margin-top: 12px;
    color: #7b5e3b;
    background-color: #0a0a0a17;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
}

.cta {
    background: #4b3826;
    color: white;
    padding: 70px 20px;
    margin-top: 80px;
    text-align: center;
}

.cta h1 {
    margin-bottom: 25px;
}


.cta button:first-of-type {
    background-color: #ffffff;
    color: #6a4e39;
    margin-top: 10px;
    padding: 5px 15px;
    border: 1px solid white;
    border-radius: 5px;
}

.cta button:last-of-type {
    color: white;
    background-color: #ffffff27;
    margin-top: 10px;
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px solid white;
}

.cta div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-top: 25px;
}

.btn.light {
    background: white;
    color: #4b3826;
}

footer {
    background: #f6f1e9;
    padding: 90px 6% 30px;
    font-family: "Poppins", sans-serif;
}

.footer {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1.5fr;
    gap: 80px;
    padding: 100px;
}

.footer>div:first-child div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer img {
    width: 40px;
}

.footer h2 {
    font-size: 22px;
    font-weight: 600;
}

.footer h2 span {
    font-weight: 400;
}

.footer p {
    margin-top: 16px;
    font-size: 14px;
    line-height: 1.7;
    color: #6b6b6b;
    max-width: 280px;
}

.footer h3 {
    font-size: 14px;
    letter-spacing: 1.5px;
    margin-bottom: 18px;
    color: #3b3b3b;
}

.footer a {
    display: inline-block;
    margin-bottom: 12px;
    font-size: 14px;
    text-decoration: none;
    color: #6b6b6b;
    transition: 0.3s ease;
}

.footer a:hover {
    color: #000;
}

.footer svg {
    vertical-align: middle;
    margin-right: 8px;
    color: #6b6b6b;
}

.footer div:last-child {
    font-size: 14px;
    line-height: 2;
    color: #6b6b6b;
}

footer::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #ddd;
    margin: 50px 0 20px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    color: #9a9a9a;
}

@media (max-width:768px) {
    .cta div {
        flex-direction: column;

    }

    .cta button {
        width: 275px;
    }

    .service.reverse {
        flex-direction: row-reverse;
    }

    .hero-section {
        width: 100%;
        margin-top: 0;
    }

    .hero {
        width: 100%;
        height: 85vh;
        border-radius: 0;
        padding: 100px 10px;
    }

    .service,
    .service.reverse {
        flex-direction: column;
        border-bottom: 1px solid rgba(0, 0, 0, 0.075);
        padding-bottom: 50px;
    }

    .service img,
    .text {
        width: 100%;
    }

    .hero .hero-contant h1 {
        font-size: 1rem;
    }

    footer {
        padding: 60px 20px 25px;
    }

    .footer {
        display: flex;
        flex-direction: column;
        gap: 45px;
        text-align: center;
    }

    .footer>div:first-child div {
        justify-content: center;
    }

    .footer img {
        width: 36px;
    }

    .footer h2 {
        font-size: 20px;
    }

    .footer p {
        font-size: 14px;
        line-height: 1.7;
        margin: 12px auto 0;
        max-width: 300px;
    }

    .footer h3 {
        font-size: 13px;
        letter-spacing: 1.4px;
        margin-bottom: 12px;
    }

    .footer a {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .footer div:last-child {
        font-size: 14px;
        line-height: 1.9;
    }

    .footer svg {
        margin-right: 6px;
    }

    .footer-bottom {
        flex-direction: column;
        gap: 10px;
        text-align: center;
        font-size: 12px;
    }

    .footer-bottom a {
        color: #00000065;
    }

    header nav {
        gap: 10px;
    }

    header {
        gap: 15px;
    }

    .menu-toggle {
        display: flex;
    }

    .nav-links {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background: white;
        flex-direction: column;
        gap: 20px;
        padding: 20px 0;
        display: none;
        animation: slideDown 0.4s ease;
    }

    .nav-links.active {
        display: flex;
    }

    .quote-btn {
        display: none;
    }


    .hero-section div div {
        transform: translate(50%, -50%);
        transform: translateX(10px);
    }

    .hero-section h1 {
        font-size: 3.5rem;
    }

    .hero-section div div {
        left: 20px;
        bottom: 275px;
    }

    header div button:last-of-type {
        font-size: 0.5rem;
    }
}