@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bungee&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=TASA+Explorer:wght@400..800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Spectral", serif;

}

button {
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 6%;
    gap: 0;
}

header img {
    height: 50px;
}

header>div:first-child p {
    font-weight: 700;
    font-size: 20px;
}

header>div:first-child span {
    font-weight: 400;
    font-size: 7px;
    display: block;
    color: #7A4A27;
}

header div button:last-of-type {
    background-color: #6a4e39;
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
}

header p {
    color: #6a4e39;
    font-family: 'EB Garamond', serif;
    font-weight: bolder;
    font-size: 15px;

}

header p span {
    color: rgb(139, 104, 8);
    font-weight: 100;
}

header nav {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

header a {
    text-decoration: none;
    color: #000000;
    font-size: 10px;
}

.quote-btn {
    background-color: #6a4e39;
    padding: 5px;
    border: 1px solid #7A4A27;
    color: #fff;
    border-radius: 5px;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6%;
    height: 70px;
    position: sticky;
    top: 0;
    background: white;
    z-index: 999;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.menu-toggle span {
    width: 25px;
    height: 3px;
    background: black;
    border-radius: 3px;
}



@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

button:hover {
    transform: translateY(-2px);
    transition: 0.3s;
}

a:hover {
    color: var(--brown);
    transition: 0.3s;
}

.services-img-div img:hover,
.project-gallery-preview img:hover {
    transform: scale(1.05);
    transition: 0.4s ease;
}

.reveal {
    opacity: 0;
    transform: translateY(30px);
    transition: 0.8s ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

.nav-dropdown {
    position: relative;
}

.arrow {
    font-size: 10px;
    margin-left: 5px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: #ffffff;
    min-width: 170px;
    display: none;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    animation: slideDown 0.3s ease;
    z-index: 9999;
}

.dropdown-menu a {
    padding: 10px 14px;
    font-size: 11px;
    color: #000;
    transition: 0.3s;
}

.dropdown-menu a:hover {
    background: #6a4e39;
    color: white;
}

.nav-dropdown:hover .dropdown-menu {
    display: flex;
}

.background {
    background-color: #F7F7F6;
}

.gallery-preview {
    padding: 50px 10%;

}

.gallery-contant-head {
    text-align: center;
    margin-bottom: 50px;
}

.gallery-contant-head h1 {
    font-size: 4vh;
    margin-bottom: 15px;
}

.gallery-contant-head p {
    color: #3b3b3b;
    margin-bottom: 25px;
}

.gallery-contant-head>div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.livebtn {
    color: #7A4A27;
}

.gallery-contant-head>div button {
    background-color: #fff;
    border: 1px solid #6b6b6b56;
    border-radius: 50px;
    padding: 10px;
}

.project-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    border-radius: 5px;
}

.card {
    border: 2px solid #ddd;
    border-radius: 12px;
    overflow: hidden;
    width: 100%;
    height: fit-content;
}

.card img {
    width: 100%;
    display: block;
    transition: transform 0.4s ease;
}

.card:hover img {
    transform: scale(1.12);
}

.last-banner {
    text-align: center;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10% 0px;
}

.last-banner h1 {
    color: #000;
    margin-bottom: 25px;
}

.last-banner p {
    color: #3b3b3b;
    margin-bottom: 25px;
}

.last-banner button:first-of-type {
    color: white;
    background-color: #6a4e39;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #7A4A27;
}

.last-banner button svg {
    margin-right: 5px;
}

.last-banner button:last-of-type {
    color: #7A4A27;
    background-color: transparent;
    padding: 10px 50px;
    border-radius: 5px;
    border: 1px solid #6a4e39;
}

footer {
    background: #f6f1e9;
    padding: 90px 6% 30px;
    font-family: "Poppins", sans-serif;
}

.footer {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1.5fr;
    gap: 80px;
    padding: 100px;
}

.footer>div:first-child div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer img {
    width: 40px;
}

.footer h2 {
    font-size: 22px;
    font-weight: 600;
}

.footer h2 span {
    font-weight: 400;
}

.footer p {
    margin-top: 16px;
    font-size: 14px;
    line-height: 1.7;
    color: #6b6b6b;
    max-width: 280px;
}

.footer h3 {
    font-size: 14px;
    letter-spacing: 1.5px;
    margin-bottom: 18px;
    color: #3b3b3b;
}

.footer a {
    display: inline-block;
    margin-bottom: 12px;
    font-size: 14px;
    text-decoration: none;
    color: #6b6b6b;
    transition: 0.3s ease;
}

.footer a:hover {
    color: #000;
}

.footer svg {
    vertical-align: middle;
    margin-right: 8px;
    color: #6b6b6b;
}

.footer div:last-child {
    font-size: 14px;
    line-height: 2;
    color: #6b6b6b;
}

footer::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #ddd;
    margin: 50px 0 20px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    color: #9a9a9a;
}

@media (max-width: 768px) {
    .last-banner {
        width: 100%;
    }

    .project-gallery {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .gallery-contant-head>div {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    .gallery-contant-head div button {
        padding: 5px;
    }

    .gallery-contant-head h1 {
        font-size: 2.7vh;
    }

    footer {
        padding: 60px 20px 25px;
    }

    .footer {
        display: flex;
        flex-direction: column;
        gap: 45px;
        text-align: center;
    }

    .footer>div:first-child div {
        justify-content: center;
    }

    .footer img {
        width: 36px;
    }

    .footer h2 {
        font-size: 20px;
    }

    .footer p {
        font-size: 14px;
        line-height: 1.7;
        margin: 12px auto 0;
        max-width: 300px;
    }

    .footer h3 {
        font-size: 13px;
        letter-spacing: 1.4px;
        margin-bottom: 12px;
    }

    .footer a {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .footer div:last-child {
        font-size: 14px;
        line-height: 1.9;
    }

    .footer svg {
        margin-right: 6px;
    }

    .footer-bottom {
        flex-direction: column;
        gap: 10px;
        text-align: center;
        font-size: 12px;
    }

    .footer-bottom a {
        color: #00000065;
    }

    header nav {
        gap: 10px;
    }

    header {
        gap: 15px;
    }

    .menu-toggle {
        display: flex;
    }

    .nav-dropdown:hover .dropdown-menu {
        display: flex;
    }

    .nav-links {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background: white;
        flex-direction: column;
        gap: 20px;
        padding: 20px 0;
        display: none;
        animation: slideDown 0.4s ease;
    }

    .nav-links.active {
        display: flex;
    }

    .quote-btn {
        display: none;
    }


    .hero-section div div {
        transform: translate(50%, -50%);
        transform: translateX(10px);
    }

    .hero-section h1 {
        font-size: 3.5rem;
    }

    .hero-section div div {
        left: 20px;
        bottom: 275px;
    }

    header div button:last-of-type {
        font-size: 0.5rem;
    }
}